extends ../layout

block content
  h1= title
  div.row
    div.col-sm-12
      form(method='post',action='/mining/start')
        div.form-group.col-sm-12
          label.text-bold Mine For Account
          select.form-control(name='account')
            for account in accounts
              option #{account}
        div.form-group.col-sm-6
          label(for='cores') Cores to use
          input.form-control(type='number',name='cores',id='cores',max='8',placeholder=1)
        div.form-group.col-sm-6
          label(for='sleep') Time to sleep (Zzzz)
          input.form-control(type='number',name='sleep',id='sleep',max='60',placeholder=2)
        button.btn.btn-lg.btn-success.pull-right Start Mining
          i.fa.fa-save